@using CrypticPay.Services
@model WalletHandler.WalletandCoins

@{
    if(Model.User.WalletKryptik == null || !Model.User.WalletKryptikExists)
    {
        <center><p>No wallet has been created for (@Model.User.Name). Create a wallet <a asp-area="Payments" asp-page="/Wallet/Manage">here</a>. </p></center>
        return;
    }
    var index = 0;
    foreach (var account in Model.User.WalletKryptik.CurrencyWallets)
    {
        // adjust spacing based on number of cols
        var spacingLarge = "offset-l1";
        if(index % 2 != 0)
        {
            spacingLarge = "offset-l2";
        }
        var currCoin = Model.Coins[index];
        // retrieve balances and shorten decimals
        var balcrypto = Decimal.Round(Convert.ToDecimal(account.AccountBalanceCrypto), 5);
        var balFiat = Decimal.Round(Convert.ToDecimal(account.AccountBalanceFiat), 2);

        <div class="card hoverable col l4 m8 s10 offset-s1 @spacingLarge offset-m2 rounded coinResult" style="color: @currCoin.Color">

            <div class="card-title center">
                <img src=@currCoin.ThumbnailPath class="asset-img-history" />
                <span class="asset-header-history">@currCoin.Name</span>
            </div>
            <div class="divider" style="margin-top: 5px;"></div>

            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <span class="asset-coins-history">@balcrypto @currCoin.Ticker</span>
                        <p class="asset-ref-history">$@balFiat</p>
                    </div>
                </div>
            </div>

            <div class="card-action right-align rounded" style="margin-bottom: 3px;">
                <a href="#" class="activator">Address</a>
            </div>

            <div class="card-reveal price">
                <span class="card-title blue-text">Share<i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <center>
                    <p style="margin-bottom: 0px;" class="text-light">Click or tap on qr code to copy address.</p>
                    <img src="@account.DepositQrBlockchain" data-tocopy="@account.AddressOnChain.Address" class="qr-medium selectable"><img>
                </center>

            </div>


        </div>

        index += 1;
    }
}
