@page
@model CrypticPay.Areas.Payments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CrypticPayCoins</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.ApiTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.ApiTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.Ticker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.Ticker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.ThumbnailPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.ThumbnailPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.IsSupported)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.IsSupported)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrypticPayCoins.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrypticPayCoins.DateCreated)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CrypticPayCoins.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
